[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=layerButtons
X-Python-2-Compatible=false
X-Krita-Manual=manual/Manual.html
Name= Layer Buttons
Comment= Adds 2 new buttons the layers docker